body{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

    justify-content: center;
    align-items: center;
    justify-items: center;
}

.cab{
    margin: 0px;
    padding: 0px;
    display: grid;
    width:100%;  height: 50px;
    background-color: black;
    grid-row: 1;grid-column-start:1;grid-column-end: 3;
    grid-template-columns: auto auto auto auto auto;
    align-items: center; justify-items: end;
    z-index: 3;

    

}
.iconCab{
        position: absolute;
        top: 15px;
        left: 15px;
        border-radius: 9px;
    width:150px;  height: 150px;
    background-color: rgb(217,217,217);
    background-image: url("Icon.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.button{
    /* Rectangle 4 */
    display: grid;

    box-sizing: border-box;
    width: 120px;
    height: 38px;

    right: 0px;
    background: #383838;
    border: 3px solid #07F0FF;
    box-shadow: inset 0px 0px 0px 3px #000000;
    border-radius: 49px;
    margin-right: 10px;
    grid-column: 5;

    transition: transform 2s ease-out 100ms;

    
}
.button:hover{
    transform: scale(1.1);
}


.content{
    margin: 0px;
    padding: 0px;
    display: grid;
    width:100%;  height:auto;
    background-color: rgb(59, 59, 59);
    grid-row: 2;grid-column: 1;
    grid-template-rows: auto;
    grid-template-columns:auto;
    align-items: center; justify-items: end;
    z-index: 1;
    margin-top:-50px;

    justify-items: center;
    justify-content: center;
    align-items: center;
}
/*SLIDER 1 INSTAGRAM*/


	.identificador img {border-radius: 18px 18px 18px 18px;}
	.slider{
        height: 100vh;
		width:auto;
		
		overflow:hidden;
	}
	
	@keyframes slide{
	/*primera foto*/
		0%{
			margin-left:0%;
		}
	/*segunda foto*/
		27%{
			margin-left:-20%;
		}

	/*tercera foto*/
		57%{
			margin-left:-40%;
		} 

	/*cuarta foto*/
		77%{
			margin-left:-60%;
		}

	/*quinta foto*/
		87%{
			margin-left:-80%;
		}

	}
	.slider ul{
		width:auto;
		padding:0px;
		display:flex;
		animation-name: slide;
		animation-duration:50s;
		animation-iteration-count: infinite;
		
	}
	.slider li{
		width:auto;
		list-style:none;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
        justify-content: center;
	}
	.slider img{
        display: grid;
        grid-row:1; grid-column: 1;
		width:100vw;
	    height:100vh;
    }
    #home{
        width:100vw;
    }
    .text{
        display: grid;
        grid-row: 2;
        grid-column-start:2;grid-column-end: 3;
        height: 100%;
        width: 669px;
        background-color: #000000;
        z-index:2;
        
        color: wheat;
        font-size: large;
        
    }
    #iframe{
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        border: #07F0FF;
        
        scrollbar-width: thin;
    }
    
    
